button:hover,
a:hover {
	opacity: 0.7;
}

footer {
	background-color: #e0e5de;
	color: white;
	padding: 15px;
	margin-top: 15px;
}

h1 {
	font-size: 22px;
}

h2 {
	font-size: 18px;
}

p {
	font-size: 14px;
}

.article {
	width: 50%;
	margin: auto;
}

.card {
	box-shadow: 2 4px 8px 2 rgba(0, 0, 0, 0.2);
	max-width: 400px;
	margin: auto;
	text-align: center;
}

.carousel {
	width: 80%;
	height: auto;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}

.gabby {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

.gabby2 {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

.navbar {
	background-color: #e0e5de;
	margin-bottom: 15px;
}

.row.content {
	height: auto;
}

.sidenav {
	padding-top: 20px;
	padding-left: 20px;
	background-color: #fff;
	height: 100%;
}

.termsOfService {
	width: 50%;
	margin: auto;
}

#article-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#btnContact {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}

#footerp {
	color: #000;
}

#infoH {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	margin-top: 10px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}
