footer {
	background-color: #e0e5de;
	color: white;
	padding: 15px;
	margin-top: 15px;
}

h1 {
	font-size: 22px;
}

h2 {
	font-size: 18px;
}

p {
	font-size: 14px;
}

.article {
	width: 50%;
	margin: auto;
}

.carousel {
	width: 80%;
	height: auto;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}

.navbar {
	background-color: #e0e5de;
	margin-bottom: 15px;
}

.row.content {
	height: auto;
}

.sidenav {
	padding-top: 20px;
	padding-left: 20px;
	background-color: #fff;
	height: 100%;
}

.termsOfService {
	width: 50%;
	margin: auto;
}

#article-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#footerp {
	color: #000;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}
